In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
from dataclasses import dataclass
dataset=pd.read_csv('loan-predictionUC.csv')
x=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values

In [ ]:
x

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0.0,0.0,0,1,0.0,5849,0.0,0.0,360.0,1.0,1
1,0.0,1.0,1,1,0.0,4583,1508.0,128.0,360.0,1.0,2
2,0.0,1.0,0,1,1.0,3000,0.0,66.0,360.0,1.0,1
3,0.0,1.0,0,0,0.0,2583,2358.0,120.0,360.0,1.0,1
4,0.0,0.0,0,1,0.0,6000,0.0,141.0,360.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
609,1.0,0.0,0,1,0.0,2900,0.0,71.0,360.0,1.0,2
610,0.0,1.0,3,1,0.0,4106,0.0,40.0,180.0,1.0,2
611,0.0,1.0,1,1,0.0,8072,240.0,253.0,360.0,1.0,1
612,0.0,1.0,2,1,0.0,7583,0.0,187.0,360.0,1.0,1
613,1.0,0.0,0,1,1.0,4583,0.0,133.0,360.0,0.0,3

In [ ]:
y

0      1
1      0
2      1
3      1
4      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 614, dtype: int64

In [ ]:
dataset=dataset.replace({'Gender':{'Male':0,'Female':1}})
dataset=dataset.replace({'Married':{'Yes':1,'No':0}})
dataset=dataset.replace({'Dependents':{'3+':'3'}})
dataset=dataset.replace({'Education':{'Not Graduate':0,'Graduate':1}})
dataset=dataset.replace({'Self_Employed' : { 'No' : 0, 'Yes' : 1}})
dataset=dataset.replace({'Property_Area' : { 'Urban' : 1, 'Rural' : 2,'Semiurban':3,'semiurban':4,'Semi-urban':5}})
dataset=dataset.replace({'Loan_Status':{'Y':1,'N':0}})

In [ ]:
dataset

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0.0,0.0,0,1,0.0,5849,0.0,0.0,360.0,1.0,1,1
1,LP001003,0.0,1.0,1,1,0.0,4583,1508.0,128.0,360.0,1.0,2,0
2,LP001005,0.0,1.0,0,1,1.0,3000,0.0,66.0,360.0,1.0,1,1
3,LP001006,0.0,1.0,0,0,0.0,2583,2358.0,120.0,360.0,1.0,1,1
4,LP001008,0.0,0.0,0,1,0.0,6000,0.0,141.0,360.0,1.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,1.0,0.0,0,1,0.0,2900,0.0,71.0,360.0,1.0,2,1
610,LP002979,0.0,1.0,3,1,0.0,4106,0.0,40.0,180.0,1.0,2,1
611,LP002983,0.0,1.0,1,1,0.0,8072,240.0,253.0,360.0,1.0,1,1
612,LP002984,0.0,1.0,2,1,0.0,7583,0.0,187.0,360.0,1.0,1,1
613,LP002990,1.0,0.0,0,1,1.0,4583,0.0,133.0,360.0,0.0,3,0

In [ ]:
dataset = dataset.replace(np.nan,0)

In [ ]:
dataset['Dependents']=dataset['Dependents'].astype(int)

In [ ]:
x=dataset[[ 'Gender', 'Married', 'Dependents', 'Education',
 'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
 'Loan_Amount_Term', 'Credit_History', 'Property_Area']]

In [ ]:
y=dataset['Loan_Status']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y ,test_size=0.2, random_state=1)

In [ ]:
x_train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
291,0.0,1.0,2,1,0.0,4400,0.0,127.0,360.0,0.0,3
507,0.0,0.0,0,1,0.0,3583,0.0,96.0,360.0,1.0,1
328,1.0,1.0,0,1,0.0,4333,2451.0,110.0,360.0,1.0,1
609,1.0,0.0,0,1,0.0,2900,0.0,71.0,360.0,1.0,2
69,1.0,0.0,0,1,0.0,4300,0.0,136.0,360.0,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...
129,0.0,1.0,0,1,0.0,6080,2569.0,182.0,360.0,0.0,2
144,0.0,1.0,2,1,0.0,11757,0.0,187.0,180.0,1.0,1
72,0.0,0.0,0,1,0.0,3500,0.0,81.0,300.0,1.0,3
235,0.0,1.0,1,1,0.0,5500,1260.0,170.0,360.0,1.0,2
37,1.0,1.0,0,1,0.0,3667,1459.0,144.0,360.0,1.0,3

In [ ]:
y_train

291    0
507    0
328    0
609    1
69     0
      ..
129    0
144    1
72     1
235    1
37     1
Name: Loan_Status, Length: 491, dtype: int64

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(x_train, y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [ ]:
y_pred = regressor.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.08838827838827834